.z{
    color: black;
}
.a{
    margin-left: 420px;
    margin-top: -800px;
}
.b{
    margin-left: 420px;
    margin-top: -600px;   
}
.n{
    margin-top: 200px;
}
.q{
    margin-left: 1000px;
    margin-top: -650px;
}

